@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Variáveis CSS */
:root {
    --cor-base: #5300C8;
    --cor-titulo: #E5E5E5;
    --cor-card: #5D04D9;
    --cor-formulario: #03318C;
}

/* Estilo para o cabeçalho */
header .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--cor-base);
    color: var(--cor-titulo);
}

/* Estilo para o conteúdo principal */
main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10rem;
}

li{
    list-style: none;
}

h2{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

button {
    background: none;
    border: none;
}

/* Estilo para a seção de produtos */
section.produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto h2{
    padding-bottom: 10px;
}
.__produto {
    justify-content: center;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
}

.produto__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 660px;
    max-height: 500px; 
    overflow-y: auto; 
    overflow-x: hidden;
    scrollbar-color: #5300C8 transparent;
}

.produto__card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-between;
    background-color: var(--cor-card);
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    border: 3px solid black;
    border-radius: 10px;
    gap: 10px;
}

.product__img img {
    width: 176px;
    height: 176px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 10px;
}

.product__name {
    max-width: 176px;
    text-wrap: wrap;
    gap: 5rem;
}

.produto__card__delete:hover {
    cursor: pointer;
}

.produto__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 660px;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.produto__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-card);
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    border: 3px solid black;
    border-radius: 10px;
}

.product__img img{
    width: 176px;
    height: 176px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 10px;
}

.product__name {
    max-width: 176px;
    text-wrap: wrap;
}

.produto__card__bottom {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.produto__card__delete:hover {
    cursor: pointer;
    transform: scale(1.15, 1.15);
}

/* Estilo para a seção de adicionar produtos */
section.form {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.form__title {
    display: flex;
    text-align: center;
    margin-bottom: 2.5rem;
}

.form__form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.form__input {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 1rem;
    color: var(--cor-formulario);
    width: 100%;
    height: 58px;
    border: 2px solid var(--cor-formulario);
    border-radius: 2rem;
    padding: 1rem;
}

.form__input::placeholder {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 1rem;
    color: var(--cor-formulario);
}

.form__btn__box {
    display: flex;
    gap: 1rem;
}

.form__btn {
    width: 100%;
    height: 55px;
    border-radius: 15px;
    border: none;
    justify-content: center;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 1rem;
}

.submit__btn {
    background-color: var(--cor-formulario);
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit__btn:hover {
    background-color: var(--cor-base);
}

.clear__btn {
    background-color: transparent;
    border: 2px solid var(--cor-formulario);
    color: var(--cor-formulario);
}

.clear__btn:hover {
    background-color: transparent;
    border: 2px solid var(--cor-base);
    color: var(--cor-card);
}

.message {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 0.85rem;
    color: red;
    margin-top: 15px;
}

/* Estilo para o rodapé */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-base);
    color: var(--cor-titulo);
    padding: 2rem;
    gap: 0.5rem;
}

.footer {
    display: flex;
    align-items: center;
}

.footer__titulo {
    font-family: "IBM Plex Mono", monospace;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
}

.footer__sub {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-size: 1rem;
}

/* Estilos adicionais para tamanhos de tela específicos */
@media screen and (min-width: 668px) {
    /* Estilos para tablet */
    .produto__box {
        justify-content: flex-start;
        gap: 20px 10px;


    }
}

/* Estilos para desktop */
@media screen and (min-width: 1024px) {
    .produto__title {
        margin: 5rem 0 2rem 0;
    }
}

@media screen and (min-width: 1200px) {
    main {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 6rem;
    }

    .produto__title {
        margin-top: 0;
    }

    section.form {
        margin-top: 0;
        padding-top: 0;
        max-width: 472px;
    }
}